.content {
    height: 70vh;
    background: rgb(141, 141, 141);
}

.acciones {
    background: rgb(83, 83, 83);
    padding: .5vw 0;
    padding-left: 2vw;
}

.mat-basic {
    color: whitesmoke;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
    gap: 1vw;
}